/* --- Estructura base de toda la app --- */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* asegura pantalla completa */
}

/* El contenido principal crece y empuja el footer hacia abajo */
main, .contenido-principal {
  flex: 1;
}
